<footer>
    <div class="footer_container">
        <div class="head_foot">
            <h1>Star Faculty</h1>
            <h3>Lorem Ipsum</h3>
        </div>
        <div class="mid_foot">
            <h1>Links to reach Out</h1>
            <li><a href="">Link1</a></li>
            <li><a href="">link2</a></li>
            <li><a href="">link3</a></li>
            <li><a href="">link4</a></li>
        </div>
        <div class="end_foot">
            <h1>Contact Details</h1>
            <p>lorem ispusdk dkjfdk ddl</p>
            <p>dklfjdifeklfjdkjf</p>
            
        </div>
    </div>


</footer>