<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/style.css">
  <title>Star Faculty</title>
</head>

<body>
  <nav>
    <div class="logo">
      <img src="img/feedback.png" alt="Logo">
    </div>
    <div class="brand">Star Faculty</div>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li>
        <a href="#services">Services</a>
        <ul>
          <li><a href="#services-design">Design</a></li>
          <li><a href="#services-development">Development</a></li>
          <li><a href="#services-consulting">Consulting</a></li>
        </ul>
      </li>
      <button class="contact"><li><a href="#contact">Contact</a></li></button>
      
    </ul>
  </nav>

 
  
  <section class="hero">
    <div class="hero-content">
      <h1>Welcome to the Government Faculty Review System</h1>
      <p class="hero-para">This website is designed to help faculty members at government institutions share feedback
        and evaluations of their colleagues.
        The review process is intended to be a constructive and professional way for faculty to improve their teaching
        and research skills
        and contribute to the overall success of the institution.</p>
        <button class="btn btn-border" type="button">Learn More</button>


      <!-- HTML -->
      <div class="container mt-5 btn-sign">
        <div class="row justify-content-center">
          <div class="col-auto">
            <button class="btn btn-light btn-lg" type="button">Sign In</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-info btn-lg" type="button">Sign Up</button>
          </div>
        </div>
      </div>


    </div>



  </section>

  
    
    <%- include ("foot") -%> 


 


</body>

</html>